---
layout: adapted
---

<div class="jumbotron full-screen" style="background-size: 100% 100%;">
  <div id="video-placer"></div>
  <video preload autoplay="autoplay" id="video-background" poster="/media/img/pipets.png" muted loop> <!-- Add poster for mobile because of high resolution.-->
    <!-- ALSO ADD WEBM FORMAT! source src="/assets/video/cover-video.WebM" type="video/WebM"https://diveintohtml5.info/video.html -->
    <!-- ios problems: Make MP4 first, and doesn't recognize video if has the poster attribute, this is on ios4.0 or below-->
    <source src="/media/video/cover-vid.mp4" type="video/mp4">
  </video>
  <!--script>
    $(function() {
      //add video tag
      //  $("#video-placer").html('<video preload id="video-background" muted loop><source src="/media/video/cover-video.mp4" type="video/mp4"></video>');
        vid = document.getElementById("video-background");
      //listen for CANPLAY event
      vid.onloadstart = function(){console.log("Started!")};
      vid.onloadedmetadata = function(){console.log("meta!")};
      vid.onloadeddata = function(){console.log("data!")};
      vid.onprogress = function(){console.log("progress!")};
      vid.oncanplay = function(){
        console.log("Hey")
      };
      vid.oncanplaythrough = function(){
     //   console.log("Finish");
        setTimeout(function() {
       //   console.log("play");
      //Hit PLAY when video fully loaded
         vid.play();
        }, 1000);
        
      };


      //  vid.addEventListener("canplay", function() {
      //   console.log("oncanplay");
      //   setTimeout(function() {
      //    console.log("play");
      //Hit PLAY when video fully loaded
       //   vid.play();
        // }, 5);
       // });
       });
    </script-->
  <div class="overbackground"></div>
  <div class="container" id="jumb-home-container">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <p class="title-small theme-col">Marc Expòsit Goy</p> <!-- theme-col to change its color depending on AGCT -->
        <h1 class="mb-6 underlined-h1">
          <!-- control distance of h1 and parraph with mb (margin bottom, bootstrap) -->
          <span>Blog:</span><br>
          <span>Under construction.</span></h1>
        <p class="lead">This is the most important page of this website. I'm still working on it to present the blog posts in the best way possible. Then, I will migrate all the articles on the old blog to this website. For the most recent information about me,<!--My interest in science goes further than making research in the lab. I want to translate
          research from the bench to society. I am convinced research and social needs need to exchange ideas to achieve
          so.--> <a href="#contactme_index">visit my social media.</a></p>
        <!--p><a href="http://www.YourLinkHere.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p-->
      </div>
    </div>
  </div>
  <!--div class="scroll_down">
      <a href="/index.html#web-map" class="scroll">
          <i class="mbri-arrow-down text-white"></i>
      </a>
  </div-->
</div>


<section>  
    <div id="contactme_index" class="full-paralax" style="background-image: url(/media/img/q.jpg); background-position: 50% -100%">
      <div class="over-image minimum-height d-flex">
        <div class="row mx-auto">
          <div class="col-12 my-auto">
              <!--p class="title-small theme-col">A little bit</p>  theme-col to change its color depending on AGCT -->
              <h2 class="mb-6 underlined-h1" id="contactmeTitle">
                <!-- control distance of h1 and parraph with mb (margin bottom, bootstrap) -->
                <span>Contact me</span></h1>
                <!-- Get in touch tambe esta be -->
                <!--Afegir un subtítol: CANVIAR AIXÒ PER UNA CLASSE DE SUBTÍTOL... CENTRAT. i EL SEND ME A MESSAGE COM A SEGONA LINIA -->
              <p class="lead">Get involved! Discussing science is everyone's business. I'would love to hear your ideas.<!--a href="correu_mail, spam!">Send me a message</a></p-->
              <!--p><a href="http://www.YourLinkHere.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p-->
            </div>

            <div class="container" id="social-media-icons">
              <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                  <ul class="list-inline text-center">
                    {% if site.facebook_username %}
                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/{{ site.facebook_username }}">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li class="list-inline-item">
                      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li class="list-inline-item">
                      <a href="https://www.twitter.com/{{ site.twitter_username }}">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {% endif %}
                    <!--
                      VERSION WITH SQUARE
                      
                    {% if site.linkedin_username %}
                    <li class="list-inline-item">
                      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {% endif %}-->
                    {% if site.github_username %}
                    <li class="list-inline-item">
                      <a href="https://github.com/{{ site.github_username }}">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                  <!--p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p-->
                </div>
              </div>
            </div></div>
          </footer>
  
      </div>
    </div>
  </section>