//General
a {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    &:hover{
        text-decoration: none;
    }
}


.navbar {
    overflow: hidden;
    background-color: rgba($primary,0.6);
    padding: 1rem 1rem;     /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s;     /* Adds a transition effect when the padding is decreased */
    position: fixed;      /* Sticky/fixed navbar */
    width: 100%;
    max-width:100%;
    top: 0;     /* At the top */
    z-index: 99;

    //changes applied when navbar scrolls
    &.nav_scrolled{
        background-color: rgba($primary,1);
        padding: 0.5rem 1rem;
    }
    
}

.navbar-brand-notScrolled::before{
    padding:10px;
    content:"hello"; //Change for url(link to the image)
    animation: fadein 10s; //This doesn't work I think.
}


/* Home screen */
.full-screen{
    height: 100vh;
    padding:0;
    min-height: 500px;
}

#video-background{ 
    height: 100%;
    width: 100%;
    display:block;
    object-fit: cover;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .wrapper {
    width: 100%;
    min-width: 100%;
    height: 445px;
    max-height: 445px;
    overflow: hidden;}

.jumbotron{
    overflow:hidden;
    margin-bottom:0rem;
.overbackground{
    background-image: -webkit-linear-gradient(#000 0%, #000 60%, #000);
    background-image: linear-gradient(#000 0%, #000 60%, #000);
    opacity: 0.5;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 500px;
};

#jumb-home-container{
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    max-width: unset; /*Reverts bootstrap max-width for container class */
    /*left: 30px;*/
    /* top: 35%; */
    /*bottom: 10%;*/
    /*padding: 50px 50px 50px 50px;*/
    /* text-align: center; */
}
};
    h1{
        font-weight:700;
        color:#fff;
            font-size: 2.5rem; /*This is for vertical phones, default bootstrap xs*/
        @include media-breakpoint-up(sm) { /*Landscape phones */
            font-size: 3rem;
        }
        @include media-breakpoint-up(md) { /*tablet */
            font-size: 4rem;
        }
        @include media-breakpoint-up(lg) { /*desktop, 992px and up*/
            font-size: 5.5rem;
        }
    };

    .lead{
        color: #ccc;
        font-family: 'Roboto', Arial, sans-serif;

        font-size: 0.9rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        @include media-breakpoint-up(sm) { /*Landscape phones */
            font-size: 0.95rem;
        }
        @include media-breakpoint-up(md) { /*tablet */
            letter-spacing: 1px;
            font-size: 1rem;
        }
        @include media-breakpoint-up(lg) { /*desktop, 992px and up*/
            letter-spacing: 1px;
            font-size: 1.2rem;
        }
        
        margin-bottom: 15px;
        text-transform: none;
        line-height: 1.6em;
        width: 90%;
        @include media-breakpoint-up(sm) {
            width:50%
        }
    };


.title-small{
    text-transform: uppercase;
    color: #EDB713;
    margin-bottom: 30px;
    letter-spacing: 4px;
    font-size: 1rem;
    @include media-breakpoint-down(sm) { /*Landscape phones */
        font-size: 0.8rem;
        letter-spacing: 2px;
    };
    font-weight: bold;
    font-family: Arial;  //Try raleway or poppins
}

.underlined-h1::after{
    content: "";
    width: 40px;
    margin: 20px 0 0;
    height: 1px;
    background: #EDB713;
    display: block;
}

.scroll_down {
    position: absolute;
    left:0;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 30;
}

.scroll_down i {
    position: relative;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    height: 50px;
    width: 30px;
    line-height: 60px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #fff;
    font-size: 12px;
}

.mbri-arrow-down:before {
    content: "\e908";
}

.scroll_down i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
    transition: all .2s;
}

#web-map{
    padding-top:4rem;
    padding-bottom:4rem;
    @include media-breakpoint-down(md) { /*tablet */
        padding-top:2rem;
        padding-bottom:2rem;
    }
}
// Presentation or 'webmap'
.presentation{
    padding-right:0.9375rem; //equivalent to 15px (16=1rem/15=0.9375)
    padding-left:0.9375rem;

    text-align: center;

    i{
        box-sizing: content-box;
        margin-bottom: 1.5rem;
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        color: #333;
        border: 3px solid #e6e6e6;
        display: inline-block;
        padding: 30px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: none;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        -webkit-transition: color 0.2s linear;
        transition: color 0.2s linear;
    };

    i:hover{
        color: #EDB713;
    }

    h3 {
        font-family: "Raleway", Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 600;
        color:#333;
        margin-top: 0;
        margin-bottom: 0.9rem;
    };

    p{
        color: #999;
    }
}


// A bit about me

.full-paralax{
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    @include media-breakpoint-down(md) { /*tablet */
        background-attachment: scroll;
    }
    @include media-breakpoint-down(xs) { /*tablet */
        background-position: 60% 50%;
    }
}
.over-image{
    height:100%;
    position:relative;
    background: rgba(0,0,0,0.7);
    padding: 40px;
}
.left-half{
    width:50%;
    padding: 60px 200px 60px 60px;
    @include media-breakpoint-down(lg) { /*tablet */
        padding: 40px;
    }
    @include media-breakpoint-down(md) { /*tablet */
        width:100%;
    }

    .title-small{
        margin-bottom:4px;
    }

    h2{
        font-weight:700;
        color:#fff;
            font-size: 1.5rem; /*This is for vertical phones, default bootstrap xs*/
        @include media-breakpoint-up(sm) { /*Landscape phones */
            font-size: 2rem;
        }
        @include media-breakpoint-up(md) { /*tablet */
            font-size: 3rem;
        }
        @include media-breakpoint-up(lg) { /*desktop, 992px and up*/
            font-size: 4rem;
        }
    };

    .lead{
        width: 90%;
        @include media-breakpoint-up(sm) {
            width:90%
        }
    }
};

.noflex{
    display:block
}
#BlogTitle{
    font-size: 4rem;
    font-weight: 700;
    color: #222;
    display:flex;
    align-items:center;
    transition: color 0.2s linear;
    border-top-color:#222;
    margin-top:2rem;
}
#BlogTitle:hover{
    color:#EDB713;
    border-top-color:#EDB713;
}
.line{
    border-top: 3px solid;
    flex-grow:1;
    margin: 0 20px;
    transition: border-top-color 0.2s linear;
}


// For post preview


    .post-preview {
        > a {
          color: $gray-900;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          transition: all 0.2s;
      
          &:focus,
          &:hover {
            text-decoration: none;
            color: $success; //$primary improves visualization
          }
          > .post-title {
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 10px;
          }
          > .post-subtitle {
            font-weight: 300;
            margin: 0 0 10px;
          }
          > .lead-subtitle{
              //based on the other lead, but changing size, breakpoints and color not set so that it hoovers
            font-family: 'Roboto', Arial, sans-serif;
    
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 0.5px;
            //@include media-breakpoint-up(sm) { /*Landscape phones */
            //    font-size: 0.95rem;
            //}
            //@include media-breakpoint-up(md) { /*tablet */
            //    letter-spacing: 1px;
            //    font-size: 1rem;
            //}
            @include media-breakpoint-up(lg) { /*desktop, 992px and up*/
                letter-spacing: 0.8px;
                font-size: 1.2rem;
            }
            
            margin-bottom: 10px;
            line-height: 1.6em;
            width: 100%;
        };
        }
        > .post-meta {
          font-size: 1rem;
          font-style: italic;
          margin-top: 0;
          color: $gray-600;
          margin-bottom: 2rem;
          font-family: 'Lora','Times New Roman', serif;
          // This is in case one adds a name of the author with a link to the page of the person
          > a {
            text-decoration: none;
            color: $gray-900;
            &:focus,
            &:hover {
              text-decoration: underline;
              color: $primary;
            }
          }
        }
        @media only screen and (min-width: 768px) {
          > a {
            > .post-title {
              font-size: 36px;
            }
          }
        }
      }

    @media only screen and (max-width: 768px) {
        #twitter-widget-0 {height:380px !important;}
}
// Contact me
#contactmeTitle{ //Based on blog title,     
text-align: center; //This has been aded and is not on blog tile
color: #FFF; //this is the other modification with respect to blog title
font-size: 4rem; 
font-weight: 700; 
//display: flex;
//align-items: center;
//transition: color 0.2s linear;
//border-top-color: #222;

//modifying the orange line  below contact me
&.underlined-h1::after{
    margin:20px auto; //This centers the line, bottom top 20px, left right auto (center)
    width: 100px; //increases the length of the line
}
}
#contactme_index{
.fa-stack{
    font-size: 1.7rem;
}
.lead{
 width: 100%;
 text-align: center;
 letter-spacing: 1px;
 font-size: 1.2rem;
}
}

.minimum-height{
    min-height: 50vh;
}

#social-media-icons{
    .fas{
        opacity: 0;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    a:hover .fas{
        opacity:100;
    }
}
// Change the default font

